..gitignore.swp
.git
wifi_config.h
python/haqs_api/__pycache__/
python/haqs_api/__pycache__/*.pyc
python/.ipynb_checkpoints/
python/*.csv
python/*.html
webapp/webapp/__pycache__/
webapp/webapp/settings.py
webapp/stations/admin.py
webapp/stations/migrations/
webapp/stations/__pycache__/
webapp/stations/migrations/__pycache__/
