<!Doctype HTML>
<html>
    {% load static %}
    {% load leaflet_tags %}
    <head>
        {% leaflet_js %}
        {% leaflet_css %}
        <style>
            html, body, #map {
                margin: 0;
                height: 100%;
            }
        </style>
        <script type="text/javascript" src="{% static 'dist/leaflet.ajax.js' %}"></script>
    </head>
    <body>
        <script type="text/javascript">
            function out_layers(map, options){
                var datasets = new L.GeoJSON.AJAX("{% url 'stations:stations' %}",{
                });
                datasets.addTo(map);
            }
        </script>
        {% leaflet_map "map" callback="window.out_layers" %}
    </body>
</html>